#events {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--fundo-section-2);
    padding-bottom: 40px;
}

.events, .events p {
    background-color: transparent;
}

.cover {
    width: 100%;
    height: 300px;
    background-image: url("../../assets/images/backgrounds/03.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    display: block;
}

.event{
    background-color: transparent;
}

.grid-main {
    margin: 0px auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

.container-wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: transparent;
    gap: 25px;
    margin-bottom: 0;
}

.container-wrapper-grid a:hover {
    text-decoration: none;
}

.wrapper-grid-a {
    margin: 0px auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
    user-select: none;
}

.wrapper-grid-content {
    min-height: 160px;
    height: 210px;
    background: url('../../assets/images/backgrounds/03.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

.container-span {
    background: rgb(255, 255, 255);
    padding: 15px 15px 15px 25px;
    flex-grow: 1;
    display: flex;
}

.content-span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.span-week {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 5px;
    opacity: 0.75;
    background-color: transparent;
    color: black;
}

.span-day {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 5px;
    color: rgb(89, 44, 129);
    background-color: transparent;
}

.span-month {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 5px;
    opacity: 0.75;
    color: var(--preto);
    background-color: transparent;
}

.span-hors {
    opacity: 0.75;
    font-size: 0.9rem;
    color: var(--preto);
    background-color: transparent;
}

.container-title-content {
    margin-left: 25px;
    background-color: transparent;
}

.title-content {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    max-height: 55px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    color: #000000;
}

.location-icon, .location-icon i {
    margin-left: 0px;
    margin-right: 0px;
    background-color: transparent;
    color: red;
}

.location {
    padding: 0px 10px;
    opacity: 0.75;
    background-color: transparent;
    color: #000000;
    
}

.location-a {
    margin-left: 0px;
    margin-right: 0px;
}