* {
    font-family: "Montserrat", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #fff;
}

body {
    margin: 0;
    padding: 0;

}

.mt-40 {
    margin-top: 40px;
}

.mt-80 {
    margin-top: 80px;
}

header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1110px;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding-right: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 14px 25px;
    color: black;
    text-decoration: none;
}

nav .active a,
nav a:hover {
    color: #0CABA8;
    border-bottom: 3px solid #0CABA8;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}


#background {
    display: flex;
    justify-content: center;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    z-index: 2;
}

.column {
    flex-direction: column;
}

.background_headline {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    top: 0;
}

.background_headline h1 {
    position: relative;
    top: -80px;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.background_headline p {
    position: relative;
    top: -80px;
    color: #FFFFFF;
    font-size: 15px;
    margin: 0;
    padding: 0;
    max-width: 400px;
    margin-top: 5px;
}

.buttons {
    position: relative;
    top: -80px;
    width: 400px;
    max-width: 400px;
    margin-top: 30px;
}

.btns {
    text-transform: uppercase;
    font-size: 12px;
    background-color: #0CABA8;
    padding: 20px 30px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}

.btns:hover {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #015958 !important;
    border-radius: 5px;
}

#challenge {
    background-color: #222831;
}

.challenge_options {
    display: flex;
    position: relative;
    bottom: 120px;
}

.challenge1,
.challenge2 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}

.challenge1 {
    background-color: #011d1d;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.challenge2 {
    background-color: #0FC2C0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.challenge_fig {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.challenge_fig img {
    transition: all 300ms ease-in-out;
}

.challenge_fig img:hover {
  transform: translate(-2%, 2%) scale(1.1);
}

.challenge_fig img {
    width: 150px;
    border-radius: 100px;
}

.challenge_name {
    display: flex;
    justify-content: center;
}

.challenge_name h1 {
    font-size: 18px;
    font-weight: 600;
}

.challenge_link {
    width: 100%;
    display: flex;
    justify-content: center;
}

.challenge_link a {
    text-align: center;
    width: 40px;
    margin: 5px;
    padding: 0 5px;
    color: #FFFFFF;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: all 300ms ease-in-out;
}

.challenge_link a:hover {
    transform: translate(-2%, 2%) scale(1.1);
}

#last-challenge {
    display: flex;
    justify-content: center;
    background-color: #222831;
    bottom: 50px;
}

.widget {
    display: block;
    width: 100%;
}

.widget_title {
    display: flex;
    position: relative;
    bottom: 35px;
    justify-content: flex-start;
    height: 23px;
    line-height: 23px;
}

#last-challenge .widget_title{
    bottom: 52px;
}

.widget_title_text {
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    height: 23px;
    margin-left: 23px;
}

.widget_title_bar {
    width: 10px;
    height: 23px;
    background-color: #0CABA8;
}

.widget_body {
    display: flex;
    position: relative;
    bottom: 18px;
}

.last-challenge-image {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}

.last-challenge-image img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.last-challenge-image:hover img {
    transform: scale(1.1);
    opacity: 0.6;
}

.last-challenge-title {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 20px;
    height: 50px;
    line-height: 50px;
    padding: 10px;
}

.last-challenge-title i {
    display: flex;
    font-size: 50px;
    width: 45px;
    color: #0FC2C0;
    float: left;
    margin-right: 5px;
}

.last-challenge-title i:hover{
    color: white;
}

.last-challenge-title span {
    border-radius: 5px;
    font-size: 13px;
    text-align: left;
}

#last-challenge-results {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #222831;
}

.widget table {
    font-size: 15px;
}

#footer {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: #222831;
    height: 100px;
}
