* {
    font-family: "Montserrat", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1110px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding-right: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 14px 25px;
    color: black;
    text-decoration: none;
}

nav .active a,
nav a:hover {
    color: #ffffff;
    background-color: #0CABA8;
    border-radius: 3px;
    text-decoration: none;
}

#background {
    display: flex;
    justify-content: center;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
}

.column {
    flex-direction: column;
}

.background_headline {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    top: -60px;
}

.background_headline h1 {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.background_headline p {
    color: #FFFFFF;
    font-size: 15px;
    margin: 0;
    padding: 0;
    max-width: 400px;
    margin-top: 5px;
}

.buttons {
    width: 400px;
    max-width: 400px;
    margin-top: 30px;
}

.btns {
    text-transform: uppercase;
    font-size: 12px;
    background-color: #0CABA8;
    padding: 20px 30px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.btns:hover {
    text-transform: uppercase;
    background-color: #015958;
    color: #ffffff;
    border-radius: 5px;
}

#challenge {
    background-color: #222831;
}

.challenge_options {
    position: relative;
    display: flex;
    top: -150px;
}

.challenge1,
.challenge2 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}

.challenge1 {
    background-color: #011d1d;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.challenge2 {
    background-color: #0FC2C0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.challenge_fig {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.challenge_fig img {
    width: 150px;
    border-radius: 100px;
}

.challenge_name {
    display: flex;
    justify-content: center;
}

.challenge_name h1 {
    font-size: 18px;
    font-weight: 600;
}

.challenge_link {
    width: 100%;
    display: flex;
    justify-content: center;
}

.challenge_options a {
    padding: 10px;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
}
